In [154]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [155]:
#load csv file
df = pd.read_csv('file:///Users/DeLaLuna/Downloads/Berlin_crimes.csv')

#add new column and populate with population information
df['City_population'] = np.nan
df.loc[df['Year'] == 2012, 'City_population'] = 3476000
df.loc[df['Year'] == 2013, 'City_population'] = 3488000
df.loc[df['Year'] == 2014, 'City_population'] = 3501000
df.loc[df['Year'] == 2015, 'City_population'] = 3514000
df.loc[df['Year'] == 2016, 'City_population'] = 3526000
df.loc[df['Year'] == 2017, 'City_population'] = 3539000
df.loc[df['Year'] == 2018, 'City_population'] = 3552000
df.loc[df['Year'] == 2019, 'City_population'] = 3557000
df['City_population'] = df['City_population'].astype(int)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             1200 non-null   int64
 1   District         1200 non-null   object
 2   Code             1200 non-null   int64
 3   Location         1200 non-null   object
 4   Robbery          1200 non-null   int64
 5   Street_robbery   1200 non-null   int64
 6   Injury           1200 non-null   int64
 7   Agg_assault      1200 non-null   int64
 8   Threat           1200 non-null   int64
 9   Theft            1200 non-null   int64
 10  Car              1200 non-null   int64
 11  From_car         1200 non-null   int64
 12  Bike             1200 non-null   int64
 13  Burglary         1200 non-null   int64
 14  Fire             1200 non-null   int64
 15  Arson            1200 non-null   int64
 16  Damage           1200 non-null   int64
 17  Graffiti         1200 non-null   int64
 18  Drugs            1200 non-null   int64
 19  Local            1200 non-null   int64
 20  City_population  1200 non-null   int64
dtypes: int64(19), object(2)
memory usage: 197.0+ KB

In [157]:
df

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local,City_population
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032,3476000
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870,3476000
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108,3476000
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752,3476000
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403,3476000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2019,Reinickendorf,123012,Nord 2 - Waidmannslust/Wittenau/Lübars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728,3557000
1196,2019,Reinickendorf,123021,MV 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986,3557000
1197,2019,Reinickendorf,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212,3557000
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218,3557000
1199,2019,Reinickendorf,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21,3557000

In [140]:
import pandas as pd


robbery_counts_per_year = df[df['District'] == 'Mitte'].groupby('Year')['Robbery'].sum()

print(robbery_counts_per_year)

Year
2012    1253
2013    1096
2014    1014
2015    1040
2016     976
2017     763
2018     733
2019     707
Name: Robbery, dtype: int64

In [141]:
#display a breakdown of different crime types per year
yearly_crime = df.groupby('Year')[df.columns[4:19]].sum()
yearly_crime

,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs
Year,,,,,,,,,,,,,,,
2012,6283,2886,42153,11032,14196,207340,5732,30503,25836,12285,2514,904,48582,11070,11687
2013,6088,3135,41461,10247,14333,220417,6628,35652,26389,11563,2561,972,43176,9573,12746
2014,5583,3228,39190,9515,13733,229955,6629,36032,30434,12149,2322,908,40678,8166,12878
2015,5318,2914,39312,9664,13260,251366,6649,34741,31937,11805,2103,834,39841,8471,15176
2016,5046,2962,41339,10024,13557,251192,7305,34515,34136,11487,2529,1032,41768,9015,14407
2017,4165,2324,42283,10608,13452,220220,6642,32308,30082,8572,2210,872,40985,10428,15503
2018,4202,2417,42828,10656,13965,209957,5671,28677,29978,7568,2334,886,39883,9103,16700
2019,4395,2627,43035,10754,14604,200322,5751,25902,28456,7958,2616,1130,42986,9635,18334

In [142]:
#display the yearly overall crimes reported per year
yearly_crime['Total_Crimes'] = yearly_crime.sum(axis=1)
print(yearly_crime['Total_Crimes'])

Year
2012    433003
2013    444941
2014    451400
2015    473391
2016    480314
2017    440654
2018    424825
2019    418505
Name: Total_Crimes, dtype: int64

In [143]:
#display the crimes per district

district_crime = df.groupby('District')[df.columns[4:19]].sum()
district_crime

,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs
District,,,,,,,,,,,,,,,
Charlottenburg-Wilmersdorf,4220,2039,31931,7797,11380,210033,5821,32476,26447,10606,1313,593,29329,6364,8425
Friedrichshain-Kreuzberg,6748,4310,37719,12220,9244,213388,3667,22486,32462,6605,2072,741,40089,10108,31683
Lichtenberg,1890,1057,21001,4525,6431,99402,5251,17003,13868,4445,1439,572,22543,5046,3530
Marzahn-Hellersdorf,1981,1090,24198,4576,7330,76041,4500,13861,8295,3735,1651,532,22738,4714,3086
Mitte,7582,4225,59628,15730,17130,328450,4186,34665,33574,9915,2372,900,45457,10982,26445
Neukölln,4659,2545,32239,9261,11477,161622,4083,25428,15568,8861,1903,854,32975,5321,12253
Pankow,2581,1304,23057,5409,8165,167927,5732,22013,34665,7911,1654,661,33486,9701,4832
Reinickendorf,2385,1171,22514,5333,9137,99013,2754,18202,9876,6784,1354,516,20899,4022,7300
Spandau,2314,1193,22670,5318,8378,89812,2590,13146,8555,4396,1348,544,20004,2796,4163
Steglitz-Zehlendorf,1624,794,13871,2720,6476,101487,3901,19679,16389,8247,1144,431,20879,5108,3116
Tempelhof-Schöneberg,3525,1906,25880,5930,9872,153141,4281,23861,20791,7536,1665,602,27722,5723,8965
Treptow-Köpenick,1571,859,16893,3681,6080,90453,4241,15510,16758,4346,1274,592,21778,5576,3633

In [144]:
#find overall total per district and rank in descending order

district_totals = df.groupby('District')[df.columns[4:19]].sum().sum(axis=1)
district_totals = district_totals.sort_values(ascending=False)
print(district_totals)

District
Mitte                         601241
Friedrichshain-Kreuzberg      433542
Charlottenburg-Wilmersdorf    388774
Pankow                        329098
Neukölln                      329049
Tempelhof-Schöneberg          301400
Reinickendorf                 211260
Lichtenberg                   208003
Steglitz-Zehlendorf           205866
Treptow-Köpenick              193245
Spandau                       187227
Marzahn-Hellersdorf           178328
dtype: int64

In [145]:
#input data obtained from external source into a new column called 'city_population'
#Citations for midterm project
#1. <a href='https://www.macrotrends.net/cities/204296/berlin/population'>Source</a>. — Berlin population demographics 2014 - 2019
import numpy as np

conditions = [
    df['Year'] == 2012,
    df['Year'] == 2013,
    df['Year'] == 2014,
    df['Year'] == 2015,
    df['Year'] == 2016,
    df['Year'] == 2017,
    df['Year'] == 2018,
    df['Year'] == 2019
]

values = [3476000, 3488000, 3501000, 3514000, 3526000, 3539000, 3552000, 3557000]

df['City_population'] = np.select(conditions, values, default=np.nan).astype(int)

In [158]:
df['City_population']

0       3476000
1       3476000
2       3476000
3       3476000
4       3476000
         ...
1195    3557000
1196    3557000
1197    3557000
1198    3557000
1199    3557000
Name: City_population, Length: 1200, dtype: int64

In [166]:
import math
#show the year on year change in population, total crimes and crime per 1000 population

df['City_population'] = df.groupby('Year')['City_population'].transform('first')
yearly_crime['Crimes per 1000'] = (yearly_crime['Total_Crimes'] / yearly_crime['City_population']) * 1000
yearly_crime['Crimes per 1000'] = yearly_crime['Crimes per 1000'].apply(math.ceil)
output_df = yearly_crime[['Year', 'City_population', 'Total_Crimes', 'Crimes per 1000']].drop_duplicates('Year')
print(output_df)

        Year  City_population  Total_Crimes  Crimes per 1000
0       2012          3476000        433003              125
22500   2013          3488000        444941              128
45000   2014          3501000        451400              129
67500   2015          3514000        473391              135
90000   2016          3526000        480314              137
112500  2017          3539000        440654              125
135000  2018          3552000        424825              120
157500  2019          3557000        418505              118

In [172]:
# Create new columns for crime types
df['Larceny_type'] = df['Theft'] + df['Car'] + df['From_car'] + df['Bike']
df['Property_damage_type'] = df['Damage'] + df['Graffiti']
df['Violent_crimes_type'] = df['Robbery'] + df['Street_robbery'] + df['Threat'] + df['Agg_assault']
df['Drugs_type'] = df['Drugs']
df['Pyro_type'] = df['Arson'] + df['Fire']
df['Injury_type'] = df['Injury']
df = df.drop('Crime_Type', axis=1)

df

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local,City_population,Larceny_type,Property_damage_type,Violent_crimes_type,Drugs_type,Pyro_type,Injury_type
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032,3476000,2729,299,428,171,20,586
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870,3476000,3690,504,359,98,14,474
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108,3476000,10683,2060,1136,435,76,1541
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752,3476000,2590,550,203,213,19,254
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403,3476000,3299,580,565,259,64,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2019,Reinickendorf,123012,Nord 2 - Waidmannslust/Wittenau/Lübars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728,3557000,1475,380,261,110,19,372
1196,2019,Reinickendorf,123021,MV 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986,3557000,1451,297,374,73,58,491
1197,2019,Reinickendorf,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212,3557000,360,212,63,21,7,84
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218,3557000,678,87,73,31,7,95
1199,2019,Reinickendorf,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21,3557000,81,10,16,9,1,14

In [188]:
#load data set from https://www.statistik-berlin-brandenburg.de/a-i-5-hj and remove null value row

df_district_age = pd.read_csv('file:///Users/DeLaLuna/Downloads/bezirke_age.csv')
df_district_age = df_district_age.drop(index=0)
#extract the year from the date format
df_district_age['Year'] = df_district_age['Stichtag'].str.split('/').str[-1]

In [196]:
# Get the column names and remove the "Year" column
columns = df_district_age.columns.tolist()
columns.remove('Year')

# Reorder the columns with "Year" at the first position
columns = ['Year'] + columns

# Reassign the columns to the DataFrame
df_district_age = df_district_age[columns]
#Standardise the column names
df_district_age = df_district_age.rename(columns={'Friedrichs-\nhain-\nKreuz-\nberg': 'Friedrichshain-Kreuzberg', 'Charlotten-\nburg-\nWilmers-\ndorf': 'Charlottenburg-Wilmersdorf', 'Steglitz-\nZehlen-\ndorf': 'Steglitz-Zehlendorf', 'Tempel-\nhof-\nSchöne-\nberg': 'Tempelhof-Schöneberg', 'Treptow-\nKöpenick': 'Treptow-Köpenick', 'Marzahn-\nHellers-\ndorf': 'Marzahn-Hellersdorf', 'Lichten-\nberg': 'Lichtenberg', 'Reinicken-\ndorf': 'Reinickendorf'})

df_district_age

,Year,Berlin,Mitte,Friedrichshain-Kreuzberg,Pankow,Charlottenburg-Wilmersdorf,Spandau,Steglitz-Zehlendorf,Tempelhof-Schöneberg,Neukölln,Treptow-Köpenick,Marzahn-Hellersdorf,Lichtenberg,Reinickendorf
1,2012,42.8,39.1,37.3,40.8,45.7,44.5,46.1,44.1,41.2,45.5,43.1,43.3,45.2
2,2013,42.9,39.1,37.5,40.8,45.8,44.4,46.2,44.1,41.2,45.5,43.3,43.2,45.1
3,2014,42.9,39.1,37.7,40.8,45.8,44.3,46.4,44.2,41.3,45.5,43.5,43.3,45.1
4,2015,42.8,39.0,37.7,40.7,45.6,44.0,46.3,44.0,41.2,45.3,43.5,43.0,45.0
5,2016,42.7,38.9,37.8,40.7,45.5,43.7,46.2,43.9,41.3,45.0,43.6,42.7,44.7
6,2017,42.7,38.9,37.9,40.7,45.6,43.7,46.2,44.0,41.4,44.8,43.5,42.6,44.7
7,2018,42.7,38.9,38.1,40.8,45.6,43.7,46.3,44.0,41.4,44.7,43.7,42.5,44.7
8,2019,42.8,39.0,38.2,40.9,45.7,43.6,46.3,44.0,41.6,44.5,43.8,42.4,44.7
9,2020,42.8,39.0,38.2,40.9,45.7,43.6,46.3,44.0,41.6,44.5,43.8,42.4,44.7
10,2021,42.9,39.2,38.7,41.2,45.5,43.6,46.5,44.2,41.8,44.3,43.7,42.3,44.8
11,2022,42.7,39.1,38.8,41.2,45.2,43.2,46.3,44.0,41.8,43.9,43.6,42.0,44.6